@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Tangerine:regular,700);

@layer base {
  body {
    background-color: #edecf6;
    padding: 2rem;
    min-height: 100vh;
  }
  img {
    user-select: none;
  }
  ::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 2px;
    height: 6px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(200, 200, 200);
    /* background-color: #784af5; */
  }
}

@layer components {
  .main-screen {
    @apply bg-lightGray rounded-l-3xl overflow-auto h-[100vh] w-full px-12 py-8;
  }
  .heading {
    @apply capitalize font-semibold text-lg text-violet-900;
  }
  .card-animation {
    @apply cursor-pointer hover:scale-105 transition duration-100 ease-out active:scale-100 select-none;
  }
  .profile-card {
    @apply h-28 w-full rounded-md shadow-sm;
  }
  .profile-heading {
    @apply text-gray-500 font-semibold text-lg my-4;
  }
  .link {
    @apply text-violetish cursor-pointer;
  }
  .link-hover {
    @apply hover:font-semibold text-violet-900 transition duration-75;
  }
  .btn-selected {
    @apply px-10 py-1 bg-violet-800 text-[#fff] rounded-md;
  }
  .btn {
    @apply px-10 py-1 border hover:border-violet-800 border-transparent rounded-md transition duration-75 ease-out;
  }
  .theme-selected {
    @apply hidden;
  }
}
